.container{
  display:block;
  width: 85%;
  height:100%;
  margin-left: 15%;
}

.ingreso_datos{
  width: 80%;
  padding: 10% 11%;
  padding-top: 5%;
}

.main{
  float: left;
  width: 80%;
  margin-left: 10%;
  text-align: justify;
}

.ingreso_datos #numero_fraccionario,#numero_binarioFraccionario, #decimal_fraccionario, #binario_fraccionario{
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 1vw;
  width: 30%;
  height: 2.5em;
  border-bottom: 0.09em solid rgba(53, 203, 171 , 1);
  margin: 3% 5%;
  padding: 0%;
}

p{
  font-family: sans-serif;
  font-size: 1vw;
  text-align: justify;
  margin-bottom: 2%;
}

h1,h2{
  color: #2F8774;
  font-size:2vw;
  margin-left: 10%;
}

h2{
  margin-top:5%;
}

h3, h4{
  color:#2F8774;
  margin-bottom: 2%;
  font-size: 1.5vw;
}

#btn_1, #btn_2{
  outline:none;
  border: none;
  color: #FFF;
  background: #35CBAB;
  font-size:1vw;
  font-family: sans-serif;
  text-align: center;
  height: 2.5em;
  width: 10%;
  border-radius: 1em;
  padding: 0.1vw 0.1vw;

}

#btn_1:hover{
  background: #1CB896 ;
  cursor: pointer;
}

#btn_2:hover{
  background: #1CB896 ;
  cursor: pointer;
}

aside{
  margin-top: 5%;
  width: 86%;
  height: 10vw;
  border: 0.009em solid #000;
}

.anuncios{
  margin-left: 1%;
  width: 95%;
  height: 10vw;
  border: 0.009em solid #35CBAB;
}
